body {
    font-family: var(--font-family-1);
    color: var(--color-grey-1);
    cursor: default;
    user-select: none;
}

main {
    padding-top: 3.5rem;
}

h1 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
}


h3 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
}

p {
    color: var(--color-grey-2);
    font-size: var(--font-size-3);
}

ul {
    list-style: none;
}

label {
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-3);
}