.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-grey-5);
    padding: 1rem 0 1rem 0;
    border-radius: var(--radius-1);
    display: none;
}

.list-cards {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.card {
    height: 2.625rem;
    padding: 0 1rem 0 1rem;
    border: 1.5px solid var(--color-grey-5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card>div {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* justify-content:space-between; */
    border-radius: var(--radius-1);
}

.card button {
    width: 4.5rem;
    height: 1.625rem;
    border-radius: var(--radius-2);
}