.section-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.list-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.875rem;
}

.totalizer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-1);
    background-color: var(--color-grey-5);
    border-inline: 1.5px solid var(--color-grey-4);
    margin: 1.875rem 0 2.5rem 0;
    padding: 0.845rem 1rem 0.845rem 1rem;
}