@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-1: #6741d9;
  --color-brand-2: #4c3299;
  --color-brand-3: #f0ecfb;

  --color-grey-1: #212529;
  --color-grey-2: #495057;
  --color-grey-3: #adb5bd;
  --color-grey-4: #e9ecef;
  --color-grey-5: #f1f3f5;
  --color-grey-1-opacity-5: rgba(0, 0, 0, 0.5);
  --fixed-white: #ffffff;
  --color-mode: #ffffff;

  --font-size-1: 1.25rem;
  --font-size-2: 1rem;
  --font-size-3: 0.875rem;
  --font-size-4: 0.75rem;

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --font-line-height-1: 150%;

  --radius-1: 0.5rem;
  --radius-2: 0.25rem;

  --animation-duration: 0.2s;
  --animation-type: ease;

  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Nunito", sans-serif;
}

body {
  font-family: var(--font-family-1);
  color: var(--color-grey-1);
}

.container {
  max-width: 43rem;
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-1);
  font-weight: 600;
}

h2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
}


h3,
button,
span:not(h1 > span) {
  font-size: var(--font-size-3);
  font-weight: 500;
}

p{
  color: var(--color-grey-2);
  font-size: var(--font-size-4);
}

button {
  height: 2rem;
  padding-inline: 0.875rem;
  border-width: 1.5;
  border-style: solid;
  border-radius: var(--radius-1);
  /* border: none; */
  display: flex;
  justify-content: center;
  align-items: center;
    /* font-weight: 600; */
}

ul{
  list-style: none;
}

.button-primary {
  color: var(--fixed-white);
  background-color: var(--color-brand-1);
  border-color: var(--color-brand-1);
}

.button-primary:hover {
  background-color: var(--color-brand-2);
  border-color: var(--color-brand-2);
}

.button-greylow {
  color: var(--color-grey-2);
  background-color: var(--color-grey-5);
  border-color: var(--color-grey-5);
}

.button-greylow:hover {
  color: var(--color-grey-1);
  background-color: var(--color-grey-4);
  border-color: var(--color-grey-4);
}

.button-outline {
  color: var(--color-grey-2);
  background-color: var(--color-mode);
  border-color: var(--color-grey-5);
}

.button-outline:hover,
.button-outline:active {
  color: var(--color-brand-1);
  background-color: var(--color-brand-3);
  border-color: var(--color-brand-1);
}

@media (max-width: 700px) {
  .container {
    max-width: 43rem;
    margin: 0 1rem;
  }
}