header {
    height: 6.8rem;
    background-color: var(--color-grey-5);
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

nav h1 {
    color: var(--color-brand-1);
}

nav h1 span {
    color: var(--color-grey-1);
}